.mb-8 {
  background-color: rgb(236, 244, 250);
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 48%; /* Ajusta para que duas fiquem lado a lado */
  max-width: 600px; /* Limite de largura */
}

.mb-8:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.first-div {
  display: flex;
  align-items: center; /* Alinha a imagem e o texto */
  justify-content: flex-start;
}

.first-div img {
  width: 150px; /* Ajuste do tamanho da imagem */
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.container {
  display: inline-flex;
  flex-flow: row nowrap;
  width: 100%;
}

#orcamentoChart {
  width: 400px; /* Largura desejada */
  height: 400px; /* Altura desejada */
  max-width: 100%; /* Ajuste responsivo opcional */
}
.chart {
  width: 500px; /* Largura desejada */
  height: 500px; /* Altura desejada */
  max-width: 100%; /* Para tornar o gráfico responsivo */
  max-height: 100%;
}

.resumo-tabela,
.resumo-grafico {
  flex-flow: column wrap;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  align-content: stretch;
}

.resumo-grafico {
  width: 40%;
}

#resumo {
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: center;
  text-align: center;
  text-wrap: center;
}
#navegacao {
  flex-flow: row wrap;
  display: inline-flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}
/* Responsividade */
@media (max-width: 768px) {
  form {
    padding: 15px;
  }

  table {
    font-size: 14px;
    width: 100%;
  }

  table th,
  table td {
    padding: 8px;
    max-width: 20px;
  }
}
